@font-face {
  font-family: "iconfont"; /* Project id 3316246 */
  src: url('iconfont.woff2?t=1665060411219') format('woff2'),
       url('iconfont.woff?t=1665060411219') format('woff'),
       url('iconfont.ttf?t=1665060411219') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liuyan:before {
  content: "\e627";
}

.icon-icon7:before {
  content: "\e664";
}

.icon-gonggao2:before {
  content: "\e678";
}

.icon-xuanti-jibie:before {
  content: "\e67c";
}

.icon-liuyanguanli:before {
  content: "\e63c";
}

.icon-tubiao-zhuzhuangtu:before {
  content: "\eb96";
}

.icon-shebeiguanli:before {
  content: "\ebb7";
}

.icon-jilu:before {
  content: "\e604";
}

.icon-gerenxinxi_o:before {
  content: "\ebcc";
}

.icon-wentijieda:before {
  content: "\ec2e";
}

.icon-liebiao1:before {
  content: "\ec6b";
}

.icon-check:before {
  content: "\e620";
}

.icon-role:before {
  content: "\e6a7";
}

.icon-quanxianguanli:before {
  content: "\e621";
}

.icon-gonggao3:before {
  content: "\e62d";
}

.icon-gonggaoguanli:before {
  content: "\e62e";
}

.icon-yonghuquanxian:before {
  content: "\e653";
}

.icon-xuanze:before {
  content: "\e616";
}

.icon-xueshengdushu:before {
  content: "\e617";
}

.icon-timu-04:before {
  content: "\e603";
}

.icon-canyuqingkuang:before {
  content: "\e707";
}

.icon-xuesheng:before {
  content: "\e7c0";
}

.icon-banjiguanli:before {
  content: "\e69c";
}

.icon-xuanti-mingcheng:before {
  content: "\e67e";
}

.icon-xuanti-lanmubanmian:before {
  content: "\e67f";
}

.icon-guanliyuan_jiaoseguanli:before {
  content: "\e612";
}

.icon-xueshengguanli:before {
  content: "\e673";
}

.icon-gonggao:before {
  content: "\e624";
}

.icon-banji:before {
  content: "\e608";
}

.icon-jiaoshiguanli:before {
  content: "\e674";
}

.icon-jiaoshijibenxinxiguanli:before {
  content: "\e675";
}

.icon-guanliyuan1:before {
  content: "\e650";
}

.icon-icon_xinyong_xianxing_jijin-174:before {
  content: "\e652";
}

.icon-gonggao1:before {
  content: "\e614";
}

.icon-caidanguanli:before {
  content: "\e65e";
}

.icon-renyuanguanli:before {
  content: "\e660";
}

.icon-xitongpeizhi:before {
  content: "\e662";
}

.icon-xitongguanli:before {
  content: "\e663";
}

.icon-shiwu:before {
  content: "\e600";
}

.icon-tushu:before {
  content: "\e601";
}

.icon-liebiao:before {
  content: "\e602";
}

.icon-qialuli:before {
  content: "\e7b4";
}

.icon-yundong:before {
  content: "\e807";
}

.icon-denglu:before {
  content: "\e611";
}

.icon-guanliyuan:before {
  content: "\e62a";
}

.icon-shangpin:before {
  content: "\e613";
}

.icon-mima:before {
  content: "\e8b2";
}

