<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.bysj.dao.NoticeDao">

    <select id="getNotice" resultType="com.example.bysj.pojo.Notice">
        select * from noticelist
        <if test="content !=null">
            WHERE content like #{content}
        </if>
        and state = 1
        LIMIT #{pageStart},#{pageSize}
    </select>
    <select id="getAllNotice" resultType="com.example.bysj.pojo.Notice">
        select * from noticelist
        <if test="content !=null">
            WHERE content like #{content}
        </if>

        LIMIT #{pageStart},#{pageSize}
    </select>



    <select id="getNoticeCounts" resultType="java.lang.Integer">
        SELECT count(*) FROM `noticelist`
        <if test="content !=null ">
            WHERE content like #{content}
        </if>
    </select>

    <update id="updateState">
        UPDATE noticelist SET state = #{state} WHERE id = #{id}
    </update>

    <insert id="addNotice">
        INSERT INTO noticelist
            (content,time,id,state)
            VALUE
            (#{content},#{time},#{id},#{state})
    </insert>

    <delete id="deleteNotice">
        DELETE  FROM noticelist WHERE id=#{id}
    </delete>

    <select id="getUpdateNotice" resultType="com.example.bysj.pojo.Notice">
        SELECT * FROM noticelist WHERE id=#{id}
    </select>

    <update id="editNotice">
        UPDATE noticelist SET content=#{content},time=#{time}
        WHERE id=#{id}
    </update>

    <update id="upload">
        UPDATE noticelist SET filename=#{filename}
        WHERE id=#{id}
    </update>
</mapper>
